h1 {
    color:maroon;
    size: 100px;
}

body {
    background-color:black;
    color:white;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.filler {
    height:100px;
}

.box {
    border-style:dotted;
    border-color: white;
    height: 450px;
}

#answer {
    font-size: 150%;
}

#image {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}

